* {
  font-size: medium;
}


.messages-container {
    overflow-y: scroll;
    /* height: 100%;
    margin: 10px; */
}

.message-container {
    border: 2px solid gray;
    background-color: #76424e;
    /* border-radius: 10px;
    margin: 20px; */
  }

.darker {
    border-color: #ccc;
    background-color: #110022;
}

.rigth-container {
    float: right;
}

.left-container {
    float: left;
}
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }

.form-message {
  position: absolute; 
  bottom: 0; 
}

.list-with-chats {
  overflow-y: scroll;
  height: 50vh;
  margin: 2%;
}

.chat-container {
  height: 100%;
}
.chat-box-container {
  width: 100%;
}

.row-container {
  width: 100%;
}

ul {
  list-style-type: none;
}

li {
  border-radius: 10px;
  background-color: #76424e;
  margin: 3px;
  padding: 20px;
}

.room-name {
  margin: 2px;
}

li:hover {
  opacity: 0.8;
}